/python-frs
/rekachain-web
/shared-storage/dataset_faces/*
/shared-storage/result_scan_faces/*
!/shared-storage/dataset_faces/.gitkeep
!/shared-storage/result_scan_faces/.gitkeep
.swp
.docker/db/
.docker/logs/
.docker/phpmyadmin/sessions/
